<div id="<%= dom_id job %>">
    <p>
        <strong>Company:</strong>
        <%= job.company %>
    </p>

    <p>
        <strong>Position:</strong>
        <%= job.position %>
    </p>

    <p>
        <strong>Location:</strong>
        <%= job.location %>
    </p>